    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/lib/js/modernizr.custom.28468.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/lib/js/jquery.tableofcontents.min.js" type="text/javascript" charset="utf-8"></script>
    <script ></script>
    <script src="{{ site.baseurl }}/lib/js/custom.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){

      });
</body>
</html>
