<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="keywords" content="manual, roleplaying, roleplaying.game, tabletop, instructions, guidebook, swords.and.sorcery, rpg, roleplaying game rules" />
    <meta name="description" content="Author: RPGCrossing Community, Category: books" />
    <meta name="description" content="A roleplaying game of swords & sorcery action" />
    <meta name="author" content="RPGCrossing Community" />
    <meta name="copyright" content="" />
    <meta name="robot" content="noindex, nofollow" />
    <meta name="googlebot" content="noarchive,NOODP,nosnippet,noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
    <link charset="utf-8" title="no title" media="screen" type="text/css" href="{{ site.baseurl }}/lib/css/bootstrap.min.css" rel="stylesheet"></link>
    <link charset="utf-8" title="no title" media="screen" type="text/css" href="{{ site.baseurl }}/lib/css/bootstrap-responsive.min.css" rel="stylesheet"></link>
    <link charset="utf-8" title="no title" media="screen" type="text/css" href="{{ site.baseurl }}/lib/font-awesome/font-awesome.min.css" rel="stylesheet"></link>
    <!--[if IE 7]>
    <link charset="utf-8" title="no title" media="screen" type="text/css" href="{{ site.baseurl }}/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet"></link>
    <![endif]-->
    <link charset="utf-8" title="no title" media="screen" type="text/css" href="{{ site.baseurl }}/lib/css/custom.css" rel="stylesheet"></link>
    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/lib/js/html5shim.js"></script>
    <![endif]-->

</head>
<body>
