    <!-- Fixed navbar -->
    <div class="navbar navbar-kelt navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="divider-vertical"></li>
              {% if site.author.github %}
                <li>
                  <a href="https://github.com/{{ site.author.github }}" class="zocial github icon" target="_blank">
                    <span class="hidden-md">Github</span>
                  </a>
                </li>
              {% endif %}
              {% if site.author.googleplus %}
                <li>
                  <a href="https://plus.google.com/{{ site.author.googleplus }}" class="zocial googleplus icon" target="_blank">
                    <span class="hidden-md">Google+</span>
                  </a>
                </li>
              {% endif %}    
              {% if site.author.twitter %}
                <li>
                  <a href="https://twitter.com/{{ site.author.twitter }}" class="zocial twitter icon" target="_blank">
                  <span class="hidden-md">Twitter</span>
                  </a>
                </li>
              {% endif %}                          
              {% if site.author.facebook %}
                <li>
                  <a href="http://www.facebook.com/{{ site.author.facebook }}" class="zocial facebook icon" target="_blank">
                    <span class="hidden-md">Facebook</span>
                  </a>
                </li>
              {% endif %}           
              {% if site.author.linkedin %}
                <li>
                  <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="zocial linkedin icon" target="_blank">
                    <span class="hidden-md">LinkedIn</span>
                  </a>
                </li>
              {% endif %}                    
              {% if site.author.feedburner %}
                <li>
                  <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}" class="zocial rss icon" target="_blank">
                    <span class="hidden-md">FeedBurner</span>
                  </a>
                </li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
