body {
  min-height: 1000px;
  padding-top: 70px;
}

.navbar-kelt {
  background-color: #222;
  border-color: #888;
}

.navbar-brand {
  color: #bbb;
  font-size: 2em;
}

.navbar-nav > li > a {
  color: #888;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #bbb;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #222;
}
